In [1]:
import pandas as pd

In [2]:
df = pd.read_table("test.log", header=None, index_col=False).rename(columns={0:"data"})
df

,data,1,2
0,%%%,2023-01-25 00:17:26-0300,processes
1,USER PID %CPU %MEM VSZ ...,NaN,NaN
2,diegocaro 1074 6.7 1.1 34816524 189...,NaN,NaN
3,_windowserver 173 3.4 0.9 37202048 153...,NaN,NaN
4,diegocaro 956 1.1 0.9 35005616 149...,NaN,NaN
...,...,...,...
2863,Current charge: 4029 mAh 52%,NaN,NaN
2864,Maximum charge: 7841 mAh 89.2%,NaN,NaN
2865,Design capacity: 8790 mAh,NaN,NaN
2866,Battery temp: 32.5°C,NaN,NaN
2867,For more stats run `istats extra` and follow t...,NaN,NaN

In [3]:
sections = list(df[df["data"]=="%%%"].index) + [len(df)]
sections

[0, 462, 478, 940, 956, 1418, 1434, 1896, 1912, 2374, 2390, 2852, 2868]

In [4]:
limits = list(zip(sections, sections[1:]))
limits

[(0, 462),
 (462, 478),
 (478, 940),
 (940, 956),
 (956, 1418),
 (1418, 1434),
 (1434, 1896),
 (1896, 1912),
 (1912, 2374),
 (2374, 2390),
 (2390, 2852),
 (2852, 2868)]

In [5]:
frame = df.iloc[limits[-2][0]:limits[-2][1]]
frame

,data,1,2
2390,%%%,2023-01-25 00:17:32-0300,processes
2391,USER PID %CPU %MEM VSZ ...,NaN,NaN
2392,diegocaro 1074 5.7 1.3 34854616 216...,NaN,NaN
2393,_windowserver 173 4.1 0.9 37221864 153...,NaN,NaN
2394,diegocaro 755 1.3 5.2 46820320 869...,NaN,NaN
...,...,...,...
2847,diegocaro 8507 0.0 0.3 36115544 46...,NaN,NaN
2848,diegocaro 8506 0.0 0.3 36117252 49...,NaN,NaN
2849,diegocaro 6538 0.0 0.3 36135000 46...,NaN,NaN
2850,diegocaro 6532 0.0 0.3 36146080 56...,NaN,NaN
2851,diegocaro 6531 0.0 0.3 36120432 50...,NaN,NaN

In [8]:
#def addinfo(frame):
#    datetime=pd.to_datetime(frame[1].iloc[0])
#    process=frame[2].iloc[0]
#    out_frame = frame.assign(datetime=datetime).assign(process=process).drop(columns=[1,2])
#    return out_frame

In [15]:
def getinfo(frame):
    datetime=pd.to_datetime(frame[1].iloc[0])
    process=frame[2].iloc[0]
    return datetime, process

In [26]:
numeric_cols = ["pid","cpu", "mem"]

In [27]:
datetime, process = getinfo(frame)
a =frame.drop(columns=[1,2])
data= a.iloc[1:].data.str.split(expand=True, n=10)
data.columns = [column.strip("% \t").lower() for column in data.iloc[0]] 
data = data.iloc[1:]
data = data.assign(datetime=datetime).assign(process=process)
data = data.astype({col:float for col in numeric_cols} )
data

,user,pid,cpu,mem,vsz,rss,tt,stat,started,time,command,datetime,process
2392,diegocaro,1074.0,5.7,1.3,34854616,216556,??,S,8:10PM,2:09.01,/Applications/iTerm.app/Contents/MacOS/iTerm2,2023-01-25 00:17:32-03:00,processes
2393,_windowserver,173.0,4.1,0.9,37221864,153820,??,Ss,8:58AM,16:45.21,/System/Library/PrivateFrameworks/SkyLight.fra...,2023-01-25 00:17:32-03:00,processes
2394,diegocaro,755.0,1.3,5.2,46820320,869428,??,S,8:59AM,24:00.95,/Applications/Firefox.app/Contents/MacOS/firef...,2023-01-25 00:17:32-03:00,processes
2395,diegocaro,956.0,1.1,0.9,35005616,149500,??,S,7:42PM,2:04.54,/System/Applications/Messages.app/Contents/Mac...,2023-01-25 00:17:32-03:00,processes
2396,diegocaro,459.0,0.4,0.1,33841472,19492,??,S,8:58AM,0:08.03,/System/Library/PrivateFrameworks/CoreDuetCont...,2023-01-25 00:17:32-03:00,processes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2847,diegocaro,8507.0,0.0,0.3,36115544,46872,??,S,12:03AM,0:00.15,/Applications/Firefox.app/Contents/MacOS/plugi...,2023-01-25 00:17:32-03:00,processes
2848,diegocaro,8506.0,0.0,0.3,36117252,49352,??,S,12:03AM,0:00.19,/Applications/Firefox.app/Contents/MacOS/plugi...,2023-01-25 00:17:32-03:00,processes
2849,diegocaro,6538.0,0.0,0.3,36135000,46876,??,S,11:46PM,0:00.17,/Applications/Firefox.app/Contents/MacOS/plugi...,2023-01-25 00:17:32-03:00,processes
2850,diegocaro,6532.0,0.0,0.3,36146080,56324,??,S,11:46PM,0:00.76,/Applications/Firefox.app/Contents/MacOS/plugi...,2023-01-25 00:17:32-03:00,processes
2851,diegocaro,6531.0,0.0,0.3,36120432,50468,??,S,11:46PM,0:00.76,/Applications/Firefox.app/Contents/MacOS/plugi...,2023-01-25 00:17:32-03:00,processes

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 2392 to 2851
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user      460 non-null    object
 1   pid       460 non-null    float64
 2   cpu       460 non-null    float64
 3   mem       460 non-null    float64
 4   vsz       460 non-null    object
 5   rss       460 non-null    object
 6   tt        460 non-null    object
 7   stat      460 non-null    object
 8   started   460 non-null    object
 9   time      460 non-null    object
 10  command   460 non-null    object
 11  datetime  460 non-null    datetime64[ns, pytz.FixedOffset(-180)]
 12  process   460 non-null    object
dtypes: datetime64[ns, pytz.FixedOffset(-180)](1), float64(3), object(9)
memory usage: 46.8+ KB

In [12]:
stats = df.iloc[limits[-1][0]:limits[-1][1]]
stats

,data,1,2
2852,%%%,2023-01-25 00:17:32-0300,istats
2853,--- CPU Stats ---,NaN,NaN
2854,CPU temp: 39.63°C,NaN,NaN
2855,--- Fan Stats ---,NaN,NaN
2856,Total fans in system: 2,NaN,NaN
2857,Fan 0 speed: 1835 RPM,NaN,NaN
2858,Fan 1 speed: 1696 RPM,NaN,NaN
2859,--- Battery Stats ---,NaN,NaN
2860,Battery health: Good,NaN,NaN
2861,Cycle count: 182 18.2%,NaN,NaN
2862,Max cycles: 1000,NaN,NaN
2863,Current charge: 4029 mAh 52%,NaN,NaN
2864,Maximum charge: 7841 mAh 89.2%,NaN,NaN
2865,Design capacity: 8790 mAh,NaN,NaN
2866,Battery temp: 32.5°C,NaN,NaN
2867,For more stats run `istats extra` and follow t...,NaN,NaN

In [22]:
datetime, process = getinfo(frame)
asd = stats.data.str.split(":",expand=True).rename(columns={0:"keys", 1: "values"})
asd = asd[(~asd["keys"].str.startswith("---"))&(asd["values"].notnull())]
asd = asd.assign(values=lambda df: df["values"].str.extract("([\d\.]+)"))
asd = asd.dropna().set_index("keys")
asd = asd.T
asd = asd.astype(float)
asd.columns = [column.strip().replace(" ", "_").lower() for column in asd.columns]
asd = asd.assign(datetime=datetime).assign(process=process)
asd

,cpu_temp,total_fans_in_system,fan_0_speed,fan_1_speed,cycle_count,max_cycles,current_charge,maximum_charge,design_capacity,battery_temp,datetime,process
values,39.63,2.0,1835.0,1696.0,182.0,1000.0,4029.0,7841.0,8790.0,32.5,2023-01-25 00:17:32-03:00,processes

In [23]:
asd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, values to values
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cpu_temp              1 non-null      float64
 1   total_fans_in_system  1 non-null      float64
 2   fan_0_speed           1 non-null      float64
 3   fan_1_speed           1 non-null      float64
 4   cycle_count           1 non-null      float64
 5   max_cycles            1 non-null      float64
 6   current_charge        1 non-null      float64
 7   maximum_charge        1 non-null      float64
 8   design_capacity       1 non-null      float64
 9   battery_temp          1 non-null      float64
 10  datetime              1 non-null      datetime64[ns, pytz.FixedOffset(-180)]
 11  process               1 non-null      object
dtypes: datetime64[ns, pytz.FixedOffset(-180)](1), float64(10), object(1)
memory usage: 104.0+ bytes